jupyter-book
jupyterlab_myst
jupyterlab-deck
jupyterlab
matplotlib
numpy
setuptools
pandas
openpyxl
datetime
requests
river
cassandra-driver
pyspark==3.5.1
mysql.connector
flask
pybaselines
pyjstat
statsmodels
hoggorm
hoggormplot
scikit-learn
ipywidgets
plotly
anywidget
pydub
sounddevice
kaleido
lorem
pymongo
streamlit