jupyter-book
jupyterlab_myst
matplotlib
numpy
pandas
openpyxl
datetime
requests
river
cassandra-driver
pyspark==3.5.1
mysql.connector
flask
pybaselines
pyjstat
statsmodels
hoggorm
hoggormplot
scikit-learn
ipywidgets
plotly
pydub
sounddevice
kaleido
lipsum
pymongo
streamlit